<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Trip Pool</title>
    <meta name="description"
          content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/panel/css/app.v2.css" type="text/css"/>
    <link rel="stylesheet" href="/panel/css/font.css" type="text/css" cache="false"/>
    <link rel="stylesheet" href="/main-style.css" type="text/css" cache="false"/>
    <!--[if lt IE 9]>
    <script src="/panel/js/ie/respond.min.js" cache="false"></script>
    <script src="/panel/js/ie/html5.js" cache="false"></script>
    <script src="/panel/js/ie/fix.js" cache="false"></script> <![endif]--></head>
<body>
<section class="hbox stretch"> <!-- .aside -->
    {{> u-side}}
    <section id="content">
        <section class="vbox">
            <header class="header bg-white b-b"><p>Welcome to todo application</p></header>
            <section class="scrollable wrapper">
                {{{body}}}
            </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section> <!-- /.vbox --> </section>
<script src="/panel/js/app.v2.js"></script> <!-- Bootstrap --> <!-- Sparkline Chart --> <!-- App --> </body>

</html>