<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Cities</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- <a href="/admin/add-college"> <button class="btn btn-primary">Add College</button></a>-->
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Req ID</th>
                        <th>Trip ID</th>
                        <th>Status</th>


                    </tr>
                    </thead>
                    <tbody>
                    {{#if Requests}}
                        {{#each Requests}}
                            <tr>
                                <td>{{this.req_id}}</td>
                                <td>{{this.trip_id}}
                                </td>
                                <td>{{this.status}}
                                </td>
                                <td><a href="/admin/delete-requests/{{this.req_id}}">DELETE</a> </td>
                            </tr>
                        {{/each}}
                    {{/if}}

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>